*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    position: relative;
    letter-spacing: 1px;
}
span{
    position: absolute;
    top: 2rem;
    left: 4rem;
    font-size: 2.5rem;
    font-weight: 900;
}
.content{
    text-align: center;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 4rem;
    text-align: center;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
    text-align: center;
}
 li{
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5rem;
    padding: .7rem;
    box-shadow: 0 5px 20px rgb(233, 231, 231);
    list-style: none;
    transition: all .15s ease;
    line-height: 1.6rem;

}
 li:hover{
    background-color: white;
    color: black;
    transform: translateY(-.25rem);
}
li:active{
    transform: translate(0);
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius:5rem ;
    padding: .8rem 3rem;
    display: inline-block;
    margin-top: 2rem;
    color: white;
    box-shadow: 0 3px 20px rgb(240, 239, 239); 

}
a:active{
    background-color: white;
    color: black;
}
.next-button{
    width: 100%;
    text-align: center;
}
.li-color{
    background-color:white;
    color:black;
}
@media only screen and  (max-width: 885px)  {
    ul{
    grid-template-columns: none;
    max-width: none;
    padding: 0 2rem;
    font-size: .5rem;
    }
    .container{
        padding: 1rem;
        letter-spacing: 0pc;
    }
    h2{
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
    }
    span{
        font-size: 1.3rem;
        left: 2rem;
        top: 1.3rem;
    }
    .btn{
        font-size:1rem ;
        padding: .8rem 1.5rem;
    }
    
    
}

